<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.angelic.soulissclient"
    android:installLocation="auto"
    android:versionCode="140"
    android:versionName="1.5.1" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.software.app_widgets" android:required="false"/>

    <application
        android:name="it.angelic.soulissclient.SoulissClient"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/soulisslogo"
        android:label="@string/app_name"
        android:process=":souliss_process" >
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:process=":souliss_process" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_MACACO_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_TIMEOUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ManualUDPTestActivity"
            android:exported="false"
            android:icon="@drawable/knife"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_MACACO_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_TIMEOUT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="it.angelic.receivers.NetworkStateReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="it.angelic.receivers.WatchDogSetupReceiver"
            android:process=":souliss_process" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="it.angelic.receivers.WatchDogEventReceiver"
            android:process=":souliss_process" />

        <activity
            android:name="it.angelic.soulissclient.NodesListActivity"
            android:exported="false"
            android:icon="@drawable/hand"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
                <action android:name="it.angelic.soulissclient.RAW_MACACO_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="NodeDetailActivity"
            android:exported="false"
            android:icon="@drawable/square"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_TIMEOUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".T5nFragWrapper"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".LauncherActivity"
            android:name="ProgramListActivity"
            android:icon="@drawable/remote"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:parentActivityName=".LauncherActivity"
            android:name="SceneListActivity"
            android:icon="@drawable/lamp"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:parentActivityName=".SceneListActivity"
            android:name="SceneDetailActivity"
            android:icon="@drawable/lamp"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:parentActivityName=".LauncherActivity"
            android:name="TagListActivity"
            android:icon="@drawable/warn"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:parentActivityName=".TagListActivity"
            android:name=".TagDetailActivity"
            android:icon="@drawable/home"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="AddProgramActivity"
            android:icon="@drawable/remote"
            android:label="@string/app_addprog" >
        </activity>
        <activity
            android:name="T32AirConActivity"
            android:exported="false"
            android:icon="@drawable/remote"
            android:label="@string/Souliss_TAircon_desc" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T15RGBIrActivity"
            android:exported="false"
            android:icon="@drawable/remote"
            android:label="@string/Souliss_TRGB_desc" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T16RGBAdvancedActivity"
            android:exported="false"
            android:icon="@drawable/remote"
            android:label="@string/Souliss_TRGB_desc" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T19SingleChannelFragWrapper"
            android:exported="false"
            android:icon="@drawable/candle"
            android:label="@string/Souliss_T19_desc" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T1nFragWrapper"
            android:exported="false"
            android:icon="@drawable/light_off"
            android:label="@string/typical" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T4nFragWrapper"
            android:exported="false"
            android:icon="@drawable/light_off"
            android:label="@string/typical" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="T31FragWrapper"
            android:exported="false"
            android:icon="@drawable/light_off"
            android:label="@string/typical" >
            <intent-filter>
                <action android:name="it.angelic.SoulissClient.GOT_DATA" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.angelic.soulissclient.PreferencesActivity"
            android:exported="false"
            android:label="@string/app_opt" >
            <intent-filter>
                <action android:name="it.angelic.soulissclient.RAW_MACACO_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="it.angelic.soulissclient.SoulissDataService"
            android:enabled="true"
            android:process=":souliss_process" />
        
        <service
            android:name="it.angelic.soulissclient.net.webserver.HTTPService"
            android:enabled="true"
            android:process=":souliss_process" />

        <receiver android:name="it.angelic.soulissclient.SoulissWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="it.angelic.SoulissClient.SoulissWidget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/souliss_widget" />
        </receiver>

        <activity
            android:name="it.angelic.soulissclient.SoulissWidgetConfig"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
