-keep class android.support.v4.app.** { *; }
-keep class android.app.** { *; }
-keep interface android.support.v4.app.** { *; } 
-keep class it.angelic.soulissclient.** { *; }
-keep class it.angelic.soulissclient.fragments.** { *; }
-dontwarn com.google.android.gms.**
-keepattributes *Annotation*,SourceFile,LineNumberTable

#https://groups.google.com/forum/#!msg/actionbarsherlock/aK3fLYg08Jw/hm5_srL1MP8J
#-keepclassmembers class **.R$* {
#    public static <fields>;
#}

#keep all classes that might be used in XML layouts
 
-dontwarn android.support.**

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}
-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-dontwarn java.nio.file.Files
-dontwarn java.nio.file.Path
-dontwarn org.apache.commons
-dontwarn org.apache.http